*~
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.log
config.status
configure
gl/.deps/
gl/.libs/
gl/Makefile
gl/Makefile.in
gl/alloca.h
gl/arg-nonnull.h
gl/asnprintf.lo
gl/asnprintf.o
gl/c++defs.h
gl/des.lo
gl/des.o
gl/dummy.o
gl/fseterr.lo
gl/fseterr.o
gl/gc-gnulib.lo
gl/gc-gnulib.o
gl/isnanl.lo
gl/isnanl.o
gl/libgnu.a
gl/libgnu.la
gl/math.h
gl/math.lo
gl/math.o
gl/printf-args.lo
gl/printf-args.o
gl/printf-frexp.lo
gl/printf-frexp.o
gl/printf-frexpl.lo
gl/printf-frexpl.o
gl/printf-parse.lo
gl/printf-parse.o
gl/printf.lo
gl/printf.o
gl/stdio.h
gl/string.h
gl/sys/
gl/vasnprintf.lo
gl/vasnprintf.o
gl/vfprintf.lo
gl/vfprintf.o
gl/warn-on-use.h
gl/wchar.h
gl/xsize.lo
gl/xsize.o
gtk-doc/*.bak
gtk-doc/Makefile
gtk-doc/Makefile.in
gtk-doc/html-build.stamp
gtk-doc/html.stamp
gtk-doc/html/
gtk-doc/libykneomgr-decl-list.txt
gtk-doc/libykneomgr-decl.txt
gtk-doc/libykneomgr-overrides.txt
gtk-doc/libykneomgr-sections.txt
gtk-doc/libykneomgr-undeclared.txt
gtk-doc/libykneomgr-undocumented.txt
gtk-doc/libykneomgr-unused.txt
gtk-doc/libykneomgr.args
gtk-doc/libykneomgr.hierarchy
gtk-doc/libykneomgr.interfaces
gtk-doc/libykneomgr.pdf
gtk-doc/libykneomgr.prerequisites
gtk-doc/libykneomgr.signals
gtk-doc/libykneomgr.types
gtk-doc/pdf-build.stamp
gtk-doc/pdf.stamp
gtk-doc/scan-build.stamp
gtk-doc/setup-build.stamp
gtk-doc/sgml-build.stamp
gtk-doc/sgml.stamp
gtk-doc/tmpl-build.stamp
gtk-doc/tmpl.stamp
gtk-doc/tmpl/
gtk-doc/xml/
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/backend_globalplatform.lo
lib/backend_globalplatform.o
lib/backend_pcsc.lo
lib/backend_pcsc.o
lib/des.lo
lib/des.o
lib/devs.lo
lib/devs.o
lib/error.lo
lib/error.o
lib/global.lo
lib/global.o
lib/libykneomgr.la
lib/version.lo
lib/version.o
lib/ykneomgr.pc
lib/ykneomgr/Makefile
lib/ykneomgr/Makefile.in
lib/ykneomgr/ykneomgr-version.h
libtool
libykneomgr-*-mac.zip
libykneomgr-*-mac.zip.sig
libykneomgr-*-win*.zip
libykneomgr-*-win*.zip.sig
libykneomgr-*.tar.gz*
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/cmdline.c
src/cmdline.h
src/cmdline.o
src/ykneomgr
src/ykneomgr.1
src/ykneomgr.o
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/basic
tests/basic.log
tests/basic.o
tests/basic.trs
tests/man-hyphen.sh.log
tests/man-hyphen.sh.trs
tests/test-suite.log
tests/tst_hyphen.sh.log
tests/tst_hyphen.sh.trs
tmp32/
tmp64/
